* {
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg);
}

ul{
    font-family: Helvetica;
}

li{
    list-style: circle;
}

.lista{
    list-style: square;
}

.light-theme{
    --bg: var(--grenn);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--grenn);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    top: 20px;
    left: 500px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    position: absolute;
}

.btn:focus { outline-style: none;}
:root{
    --grenn: #00FF00;
    --white: #ffffff;
    --black: #000000;
}